.form-container {
    display: grid;
    margin: 50px auto;
    align-items: center;
    justify-content: center;
    form {
        box-shadow: 0 0 10px $colour-10;
        padding: 30px;
        border-radius: 10px;
        label {
            font-size: 20px;
            font-weight: bold;
        }

        input {
            border-radius: 5px;
            outline: none !important;
        }
        #name,#email {
            width: 240px;
            border: none;
            box-shadow: 0 0 10px $colour-10; 
            &:focus {
                box-shadow: 0 0 10px $colour-11; 
            }

        } 
        #message {
            width: 250px;
            height: 200px;
            border-radius: 5px;
            box-shadow: 0 0 10px $colour-10;
            font-size: 15px;
            color: #000;
            font-weight: 600;
            outline: none;
            border: none;
            @media screen and (min-width: 769px) {
                width: 400px;
            }
            &:focus {
                box-shadow: 0 0 10px $colour-11; 
            }
        }
        #button {
            padding: 10px;
            width: 100px;
            font-weight: bold;
            background-color: transparent;
            box-shadow: 0 0 10px $colour-10;
            border: none;
            &:hover{
                background-color: black;
                color: white;
            }
        }
    }
}