body {
    font-family: 'Abel', sans-serif !important;
    font-size: 2rem;
    line-height: 1.7;
}

h1 {
    font-weight: 900;
    font-size: 5rem;
}
h2 {
    text-align: center !important;
    font-size: 30px !important;
    font-weight: 900 !important;
    border-bottom: dotted #edece8 !important;
    padding: 20px !important;
    text-transform: capitalize;
}

.heading-left {
    text-align: left !important;
}

.heading3-left {
    text-align: left !important;
    font-size: 25px !important;
}